.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background: #4ca3d2;
  height: 6em;
  color: white;
  line-height: 6em;
}

.App-header h1 {
  font-size: 1.5em;
  font-weight: lighter;
  margin: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App {
  height: 100vh;
  background: #2998d5;
}

.App button {
  background: hsl(201.3, 67.7%, 86.8%);
  box-shadow: none;
  border: none;
  height: 3em;
  width: 120px;
  font-size: 1em;
  color: #ce7951;
  font-weight: bold;
}

.App button:hover {
  background: hsl(201.3, 67.7%, 67.8%);
  cursor: pointer;
}

.list a {
  margin: 20px;
  color: #cef5ff;
  font-size: 30px;
  display: block;
}
